main {
    display: grid;   
    grid-template-columns: 1fr;
}
body{
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Josefin Sans', sans-serif;
}
article {
    border: 1px solid black;
    border-radius: 7px;
    margin: 7px;
    max-width: 100%;
    background-color: lightgrey;
}
h2 {
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}
h3 {
    margin-left: 5px;
}
.banner {
    background-color: #474747;
}
img {
    width:100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
p {
    padding: 1px 3px;
}
header {
    color: white;
    background-color: #c7342a;
    margin-top: 0px;
}
header h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 3em;
}
header h2 {
    padding-bottom: 5px;
    text-align: center;
    font-size: 2.5em;
}

