@media (min-width: 32.5em) {
    body {
        margin: 0 auto;
        width: 760px;
    }    
        img {
        float: right;
        height: 200px;
        position: relative;
        top: -90px;
        right: 20px;
    }
    #banner,
    footer {
        height: 80px;
    }
    #p1 {
        padding-top: 15px;
        padding-left: 110px;
    }
    #p2 {
        padding-left: 110px;
    }
}