/*--------------MAIN STUFF-----------------*/

p {
    font-family: 'Jost', sans-serif;
}
body {
    margin: 0 auto;
    max-width: 960px;
    background-color: #fdffd9;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
header {
    padding-top: 10px;
    background-color: #6eb4d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*#logobox {

}*/
.logo {
    float:left;
    width: 70px;
    padding: 0% 10px 0% 10px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    padding-left: 0px;
    margin-top: 9px;
}
h5 {
    font-family: 'Fredoka One', cursive;
    font-size: 1em;
    padding-left: 0px;
    margin-top: -23px;
}
h4 {
    font-family: 'Fredoka One', cursive;

}
h3 {
    font-family: 'Fredoka One', cursive;  
}
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 2em;
    margin-top: 8px;
    align-self: center;
    
}

/*---------------TILE------------------*/
#tile1 {   
    margin-bottom: -190px;
    margin-left: 30px;
    background-color: #f7af9d;
    border: 1px solid black;
    max-width: 190px;
    z-index: 0;
}
#tile1 h3 {
    padding: 0px 7px;
}

#tile1 ul li {
    font-family: 'Jost', sans-serif;
    
}

.banner-image {
    align-self: center;    
    width: 95%;
    box-shadow: 0px 3px 5px gray;
}

/*------------ARTICLE---------------*/
article {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #f7af9d;
    width: 95%;
    border: 1px solid black;
    margin: 15px 0px;
    
}
article p {
    margin: 0px 10px;

}
article h3 {
    font-size: 1.7em;
    margin: 8px 0px -15px 8px;
    padding-bottom: 0px;
}
article h4 {
    font-size: 1em;
    margin-left: 8px;
}
article img {
    max-width: 95%;
    align-self: center;
    padding: 10px;
}

/*-----NAV MENU ------*/
nav {
    background-color: #6eb4d1;
    font-family: 'Fredoka One', cursive;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
	padding: 0;
}
nav button {
    margin: 0;
    background-color: transparent;    
    text-align: center;
    font-size: 1.6rem;
    padding:6px;
    border: none;
    width: 100%;
    color: black;

}

#dropdownbutton:hover {
    background-color: #bbb;
}

nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
    font-size: 1.6rem;
    padding: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    color: black;
}
nav ul li a:hover {
	background-color: #bbb;
    
}


/*--------------FOOTER-------------------*/
footer {
    background-color: #6eb4d1;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

/*-----------RESPONSIVE--------------*/
.big {
    display: none;
}
.small {
    display: block;
}
.hide {
    display:none;
}