.cards div:hover {
    margin-left: 320px;
    transition: .5s;
}
#bg {
    height: 500px;
}

/*--------THANKS---------*/
#thanks {
    text-align: center;
    font-size: 10rem;
    padding-top: 40px;
    margin: 0;
}