h2 {
    margin-bottom: -20px;
}
.cards {
    width: 100%;
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 40px 0;
}
section {
    background-color: #6eb4d1;
    text-align: center;
    margin: 10px 10px 20px 10px;
    padding-top: 15px;
    width: 350px
    }
section img {
    margin-bottom: -6px;
    width: 100%;
}
section h3 {
    font-size: 2rem;
    padding: 0;
    margin: 3px;
}
section h4 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

#wires {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Jost', sans-serif;

}

@media (min-width: 520px) {
    section {
        flex-direction: row;
        justify-content: space-between;
        width: 600px;
        height: 245px;
        display: flex;
        flex-direction: row;
        padding-top: 0px;
    }
    section div {
        margin-top: 20px;
        margin-left: 7%;
    }
    section img {
        margin: 20px;
        width: 250px;
    }
    section:nth-child(2) {
        flex-direction: row-reverse;
    }
    section:nth-child(2) div {
        margin-right: 7%;
    }
    section:nth-child(3) div {
        margin-left: 0px;
    }
}

@media (min-width: 920px) {
    section {
        max-width: 275px;
        display: block;
        margin-bottom: 150px;

    }
    section img {
        margin: 0;
        width: 100%;
        padding-left: 0%;
        margin-bottom: -6px;
    }
    section:nth-child(2) div {
        margin-right: 0;
    }
    section div {
        padding-left: 0px;
        margin-left: 0;
        margin-top: 20px;
    }
    section:nth-child(3) img  {
        margin-top: -2px;
    }
    section:nth-child(3) p  {
        margin-top: 0;
    }

}