/*--------------MAIN STUFF-----------------*/
#picnic {
    display: block;
    background-color: #f7af9d;
    color: black;
    margin-top:-10px;
    width: 100%;
    text-align: center;
}
p {
    font-family: 'Jost', sans-serif;
}
body {
    margin: 0 auto;
    max-width: 960px;
    background-color: #fdffd9;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
header {
    padding-top: 10px;
    background-color: #6eb4d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logobox {
    display:flex;
    flex-direction: row;
}
#company {
    display:flex;
    flex-direction: column;
}
#subtitle {
    font-family: 'Fredoka One', cursive;
    font-size: 1em;
    margin-top: -23px;
}
.logo {
    padding-top: 15px;
    padding-right: 10px;
    height: 70px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 2em;

}

h4 {
    font-family: 'Fredoka One', cursive;

}
h3 {
    font-family: 'Fredoka One', cursive;  
}
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 2em;

    align-self: center;
    
}

/*---------------TILE------------------*/
.banner {
    position: relative;
}
#tile1 {   
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(247, 175, 157, .8);
    border: 1px solid black;
    max-width: 190px;

}
#tile1 h3 {
    padding: 0px 7px;
}

#tile1 ul li {
    font-family: 'Jost', sans-serif;
    
}
picture img {
    max-width: 100%;
}

/*------------ARTICLE---------------*/
article {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #f7af9d;
    width: 95%;
    border: 1px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
article p {
    margin: 0px 10px;

}
article h3 {
    font-size: 1.7em;
    margin: 8px 0px -15px 8px;
    padding-bottom: 0px;
}
article h4 {
    font-size: 1em;
    margin-left: 8px;
}
article img {
    max-width: 95%;
    align-self: center;
    padding: 10px;
}

/*-----NAV MENU ------*/
nav {
    background-color: #6eb4d1;
    font-family: 'Fredoka One', cursive;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav button {
    display:block;
    margin: 0;
    background-color: transparent;    
    text-align: center;
    font-size: 1.6rem;
    padding:6px;
    border: none;
    width: 100%;
    color: black;

}

#dropdownbutton:hover {
    background-color: #bbb;
}

nav ul li a {
    display: block;

	text-align: center;
	text-decoration: none;
    font-size: 1.6rem;
    padding: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    color: black;
}
nav ul li a:hover {
	background-color: #bbb;
}
nav ul .active {
    text-decoration: underline;



}


/*--------------FOOTER-------------------*/
footer {
    background-color: #6eb4d1;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}
footer a {
    color: black;
}

/*-----------RESPONSIVE--------------*/
.big {
    display: none;
}
.small {
    display: block;
}
.hide {
    display:none;
}

/*-------------GALLERY----------------------*/
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.gallery img {
    max-width: 250px;
    max-height: 175px;
    margin: 0px;
    margin-right: -10px;
    padding: 0px;
    filter: blur(0em);
    transition: filter 0.5s;
}
.gallery picture {
    border: solid black 2px;
    margin: 10px;
    padding: 0px;
    width: 250px;
    background-color:#6eb4d1;
}
.gallery img[data-src] {
    filter: blur(0.2em);
  }

  /*------------Storm Center--------------*/
  form {
      background-color: #f7af9d;
      width: 100%;
      margin-bottom: 30px;
  }
  form fieldset {
      width: 90%;
      margin: 2rem auto;
      border: 1px solid #445ba9;
      border-radius: 7px;
      padding: .5rem 2%;
    }
  form legend {
      color: black;
      margin: 0 1rem;
      padding: 0 .5rem;
      font-family: 'Jost', sans-serif;
      font-size: 1.3rem;

  }
  form label.top {
      display: block;
      padding-top: 1rem;
      font-family: 'Jost', sans-serif;
      font-size: 1rem;
      font-weight: bold;
  }
  form label.sbs {
    display: block;
    padding-top: 1rem;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }
  form label.sbs label {
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    padding-left: 5px;
  }
  form label.top input, form label.top select, textarea {
      display: block;
      font-size: 1rem;
      border: solid 1px black;
      border-radius: 4px;
      padding: .75rem;
      font-family: 'Jost', sans-serif;
      width: 90%;
      max-width: 20rem;
      background-color: rgba(255, 255, 255, .9);
      
  } 
form button {
    border: solid 1px black;
    background-color: white;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 10rem;

}
form label.top input:required {
    border-left: red solid 6px;
}    
form label.top input:required:valid {
    border-left: green solid 6px;
}  
