main {
    display: grid;   
    grid-template-columns: auto;
}
body{
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Josefin Sans', sans-serif;
}
article {
    border: 1px solid black;
    border-radius: 7px;
    margin: 7px;
    max-width: 300px;
    background-color: lightgrey;
}
h2 {
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}
h3 {
    margin-left: 5px;
}
.banner {
    background-color: #474747;
}
img {
    width:100%;
}
p {
    padding: 1px 3px;
}
header {
    color: white;
    background-color: #796565;
    margin-top: 0px;
}
