body {
    
    font-size: medium;
    font-family: 'Jost', sans-serif;
}
main {
    padding-left: 10px;
}

#banner,
footer {
    padding-top: 5px;
    color: white;
    background-color: #C7342A;
    border-radius: 7px;
    
}
footer {
    margin-top: 50px;
    text-align: center;
}

#p1 {
    padding-top: 0px;
}

#p2 {
    color: yellow;
    padding-bottom: 5px;    
}

h1 {
    font-size: 3.7em;
    font-weight: 500;
    text-align: center;
}
h2 {
    font-size: 1.7em;
    font-weight: 400;
    margin-bottom: 0px;
    
}

img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-top: 10px;
}
main a {
    color: blue;
}
footer a {
    color: white;
}