@media (min-width: 32.5em) {
    body {
        padding: 0 25%;
        width: 760px;
        font-family: 'Jost', sans-serif;
    }
        img {
        float: right;
        height: 200px;
        padding-right: 20px;
        padding-top: 15px;
    }
    #banner,
    footer {
        height: 80px;
    }
    #p1 {
        padding-top: 0px;
        padding-left: 0px;
    }
    #p2 {
        padding-left: 0px;
    }
}