@media (min-width: 720px){ 
    .hide, nav ul {
        display: flex;
        flex-direction: row;
    }
    .banner-image {
        width: 100%;
    }
    article {
        flex-direction: row;
        width: 98%;
        padding-bottom: 10px;
        margin-top: 2rem;
    }
    #articleleft {
        display: flex;
        flex-direction: column;
    }
    article img {
        height: 200px;
    }
    .big {
        display: inline-block;
    }
    .small {
        display:none;
    }
    nav ul li a {
        border: none;
        padding: 0.4rem;
        font-size: 1.4rem;
}
.forecast {
    color:#f5f5f5;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    background-color: #0fa3b1;
    border: 2px solid green;
    width:100%;
    height: 180px;
    margin: 20px 0px;
}
.forecast h3 {
    grid-row: 1;
    grid-column: 1/6;
    font-size: 2rem;
    margin: 5px 0px;
}
.forecast p {
    font-size: 1.7rem;
    grid-row: 2;
    margin: 0px;
}
.forecast img {
    grid-row: 3;
    width:60px;
    margin-top:-15px;
}

}